.AllComments {
    width: 85%;
    max-height: 80%;
}

.no-comments-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #5a6e85;
}

.comment-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 15px;

    color: black;
    gap: 0.5rem;
}

.username {
    font-weight: bold;
}

.comment-container img {
    max-height: 2rem;
    width: auto;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 3rem;
}