.navbar {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0px;
    left: 0px;
    position: relative;

    background-color: white;
}

.flex-column-center-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-logo {
    height: 15%;
    width: 90%;
}

.nav-logo img{
    width: 100%;
}

.nav-links {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.nav-item {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 10px;
    margin: 5px 20px 5px 0px;
    gap: 16px;
    max-height: 50%;
}

.nav-item img {
    width: 28px;
    height: 28px;
    object-fit: contain;
}

.nav-item span {
    color: black;
}

.nav-item:hover {
    background-color: #e7e7e7da;
    border-radius: 0.8rem;
    cursor: pointer;
}

.profile-img {
    border-radius: 50%;
    border: 1px solid #dbdbdb;
}

.more-links {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20%;
}

.more-items {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    width: 50%;
    z-index: 5;
    bottom: 4rem;

    color: black;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 10px;
}

.more-item {
    margin: 0.8rem 1.1rem;
    text-align: left;

    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.more-item:hover {
    text-decoration: underline;
}

.user-profile {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #dbdbdb;
}