.Post {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding-left: 10rem;
    margin-left: 2rem;
}

.post-container {
    width: 60%;
    max-width: 60%;
    min-width: 470px;
    height: auto;
    max-height: 800px;
}

.comments-open {
    transform: translateX(-120px);
    transition: transform 0.3s;
}

.comments-closed {
    transform: translateX(0);
    transition: transform 0.3s;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.flex-row-start {
    display: flex;
    flex-direction: row;
    justify-content: start;    
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.space-between {
    display: inherit;
    justify-content: space-between;
}

.post-top-wrapper {
    flex-wrap: wrap;
    max-height: 10%;
    margin-bottom: 0.3rem;
    width: 80%;
}

.post-top-wrapper img {
    max-height: 2.5rem;
    width: auto;
    aspect-ratio: 1;
    border-radius: 3rem;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #d0d6dc;
}

.post-top-wrapper p {
    margin: 0.8rem;
}

.posted-by {
    color: black;
    font-weight: bold;
}

.post-img {
    width: 80%;
    height: auto;
    max-height: 600px;
    object-fit: cover;

    border: 0.2px solid grey;
    border-radius: 0.8rem;
}

.post-like-comment-wrapper {
    gap: 1.5rem;
    width: 50%;
    margin-top: 0.5rem;
    height: 1.8rem;
}

.number-of-likes, .number-of-comments {
    color: black;
    margin-left: 0.3rem;
}

.post-bottom-wrapper {
    margin-left: 0.8rem;
    margin-bottom: 2rem;
}

.post-description-wrapper {
    gap: 0.5rem;
}

.post-description {
    color: black
}

.post-creation-text {
    color: #718396;
}

.post-comments-section {
    width: 40%;
    max-width: 40%;
    min-width: 470px;
    margin-right: 2rem;
    margin-top: 4rem;
    max-height: 80%;
}