.Post {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 800px;
    max-height: 800px;
    transition: margin-left 0.6s ease;
}

.post-container {
    width: 60%;
    max-width: 60%;
    min-width: 470px;
    height: auto;
    max-height: 800px;
}

.comments-closed {
    margin-left: 220px !important;
}

.comments-open {
    margin-left: 50px !important;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.flex-row-start {
    display: flex;
    flex-direction: row;
    justify-content: start;    
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.space-between {
    display: inherit;
    justify-content: space-between;
}

.post-top-wrapper {
    flex-wrap: wrap;
    max-height: 10%;
    margin-bottom: 0.3rem;
    width: 80%;
}

.post-top-wrapper img {
    max-height: 2.5rem;
    width: auto;
    aspect-ratio: 1;
    border-radius: 3rem;
    height: 36px;
    object-fit: cover;
    border: 1px solid #d0d6dc;
}

.post-top-wrapper p {
    margin: 0.8rem;
}

.posted-by {
    color: black;
    font-weight: bold;
}

.post-img {
    width: 80%;
    height: auto;
    max-height: 600px;
    object-fit: cover;

    border: 0.2px solid grey;
    border-radius: 0.5rem;
}

.post-like-comment-wrapper {
    gap: 1.5rem;
    width: 50%;
    margin-top: 0.5rem;
    height: 1.8rem;
}

.number-of-likes, .number-of-comments {
    color: black;
    margin-left: 0.3rem;
}

.post-bottom-wrapper {
    margin-left: 0.8rem;
    margin-bottom: 2rem;
}

.post-description-wrapper {
    gap: 0.5rem;
}

.post-description {
    color: black
}

.post-creation-text {
    color: #718396;
}

.post-comments-section {
    width: 40%;
    max-width: 40%;
    min-width: 470px;
    margin-right: 2rem;
    margin-top: 2rem;
    height: 85%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-comment-wrapper {
    width: 100%;
}

#comment-content {
    width: 70%;
    min-height: 25px;

    padding: 1px 10px 1px 10px;
    border-radius: 22px;
    border: solid 0.8px #434e59
}

#post-comment {
    display: flex;
    flex-direction: row;

    gap: 2px;
}

#submit-comment {
    border: transparent;
    border-radius: 20px;
    cursor: pointer;
}

#submit-comment:hover {
    background-color: #e7eaed;
}